@import url('/src/styles/global.css');

:root {
    --color-blue-light: #a3bddd;
    --color-header: var(--color-background-header);
    --color-white: #ffffff;
    --font-default: 'Comfortaa';
    --font-title: 'Marmelad';
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    font-family: var(--font-default);
}

/* HEADER */
header {
    background-color: var(--color-header);
    padding: 10px 30px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-left: 10px;
}

.voltar {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-default);
}

.voltar a {
    color: var(--color-black);
    text-decoration: none;
    font-size: 16px;
}

.arrow {
    font-size: 18px;
    font-weight: bold;
    margin-right: 4px;
}

.icon-home {
    height: 22px;
}

/* LOGIN */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    background-color: var(--color-white);
}

.login-box {
    background-color: var(--color-blue-light);
    padding: 60px 50px;
    border-radius: 25px;
    text-align: center;
    width: 440px;
}

.login-logo {
    height: 80px;
    margin-bottom: 30px;
}

.login-input {
    width: 100%;
    padding: 18px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-family: var(--font-default);
    margin-bottom: 20px;
}

.login-input:last-of-type {
    margin-bottom: 40px;
}

.login-button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-family: var(--font-default);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #333333;
}

.login-input[type="date"] {
    color: #0000007c;
    font-family: var(--font-default);
}
