@import url('/src/styles/global.css');

/* HEADER */
header{
    display: flex;
    justify-content: center;
    background-color: var(--color-background-header);
    padding: 3px 45px;
}

nav{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 29px;

}

.container-header img{
   width: 45px;
   cursor: pointer;

}
.container-nav a p{
    width: 130px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}
.logo{
    width: 138px;
    height: 136px;
    margin-right: 70px;
}

.container-button-header{
    margin-top: 39px;
    margin-left: 100px;
    display: flex;
}

.white{
    width: 120px;
    height: 45px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: var(--color-white);
    cursor: pointer;
}

.blue{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-blue-confort);
    color: var(--color-white);
    cursor: pointer;
}
/* FIM HEADER */